html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  font-family: "Geist", sans-serif;
  background-color: #000000;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: rgb(33, 119, 216);
  text-shadow: 0px 2px 2px rgba(8, 8, 8, 0.15);
}

p,
li {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

body {
  width: 968px;
  margin: auto;
  background-color: #f1f2f3;
  padding: 0px 20px 20px 20px;
  border: 2px solid #c4c4c4;
  border-radius: 4px;
}

img {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
